:root {
    /* Palette */
    --brown: #72231c;
    --cream: #faf0d7;
    --orange: #eaa44f;
    --red: #cd3333;
    --blue: #036977;
}

html {
    height:100%;
}

body {
    margin: 0 0 0 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cream) !important;
}

.content {
  flex: 1 0 auto;
}

#topTri {
    width: 100%;
    height: 5%;
    position: absolute;
}

#bottomTri {
    height: 100%;
    width: 100%;
    bottom: 0;
    position: relative;
}

.footer {
  flex-shrink: 0;
}

.title-h1 {
    color: var(--brown);
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

.btn-main {
  width: 29rem;
  height: 10rem;
  padding: 0;
  border: 0;
  background: url("/static/images/primary-button.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.option-main {
    width: 29rem;
    height: 10rem;
    border: 0;
    background: url("/static/images/primary-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%

}

.btn-submit {
    border: 0;
    font-weight: bold;
    background-color: var(--cream);
}

button:hover {
    filter: brightness(75%);
}

.btn-h1 {
    color: var(--cream);
    padding-right: 0.4rem;
}

/* create-ballot.html */

.ballot-opts-div {
    display: inline-block;
    padding: 5rem;
    background: url("/static/images/primary-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.entries-title-div {
    float: left;
    width: fit-content;
    padding: 3rem 4rem 3rem 4rem;
    margin-left: -12px;
    background: url("/static/images/side-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.entries-title-h2 {
    color: var(--cream);
}

.btn-add {
    margin-top: 3rem;
    margin-left: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    border: 0;
    background: url("/static/images/primary-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ballot-entry {
    padding: 1rem 1rem 1.5rem 1rem;
    width: fit-content;
    background: url("/static/images/ballot-entry.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn-delete {
    border: 0;
    background: none;
    font-size: x-large;
}

.btn-delete:hover {
    color: var(--red);
}

/* vote.html */

.btn-vote-submit {
    margin-left: 7rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--orange);
    color: var(--brown);
    font-size: x-large;
}

.sortable-list {
    width: 27rem;
    background: none;
}

.sortable-list .item {
    list-style: none;
    display: flex;
    cursor: move;
    align-items: center;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    margin-bottom: 11px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.06); */
    justify-content: space-between;
    background: url("/static/images/ballot-entry.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.item .details {
    display: flex;
    align-items: center;
}

.item .details span {
    color: var(--cream);
    font-size: 1.13rem;
}
.item i {
    color: var(--red);
    font-size: 2rem;
}

.item.dragging {
    opacity: 0.6;
}

.item.dragging :where(.details, i) {
    opacity: 0;
}

/* vote-success.html */

.div-vote-success {
    width: 50rem;
    height: 20rem;
    padding: 3rem 0 0 0;
    background: url("/static/images/primary-button.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}