<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="en">
<head>
    {% block head %}
    <title>Ballot Creation</title>
    {% endblock %}
</head>
<body>
{% block content %}
<div style="display: flex; justify-content: center;">
    <div class="div-vote-success mt-5">
        <p class="text-center mt-1" style="font-size: 3rem; color: var(--cream);">Ballot Creation Successful!</p>
        <p class="text-center" style="font-size: 1rem; color: var(--cream);">Copy the vote link or code to obtain
            the voting form.</p>
        <p class="text-center" style="font-size: 1rem; color: var(--cream);">Vote Link: <a href="{{ link }}">{{ link }}</a></p>
        <p class="text-center" style="font-size: 1rem; color: var(--cream);">Vote and Results Code: {{ code }}</p>
    </div>
</div>
<div class="col text-center">
    <a href="{{ url_for('rcv.index') }}">
        <button class="btn-home">
            <h1 class="btn-h1">Home</h1>
        </button>
    </a>
</div>
{% endblock %}
</body>
</html>