<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="en">
<head>
    {% block head %}
    <title>Create</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 text-center">
                <p class="title-h1">EZ-RCV</p>
            </div>
        </div>
        <form method="post" id="ballotForm">
            <!-- Sidebar -->
            <a href="{{ url_for('rcv.index') }}">
                <button type="button" class="sidebar-btn">
                    <p style="transform: scaleX(-1);">Home</p>
                </button>
            </a>
            <button type="button" class="sidebar-btn" onclick="newEntry()" style="margin-top: 7rem">
                <p style="transform: scaleX(-1);">Add</p>
            </button>
            <button type="submit" class="sidebar-btn" style="margin-top: 14rem">
                <p style="transform: scaleX(-1);">Submit</p>
            </button>
            <!-- Options -->
            <div class="ballot-opts-div">
                <div class="row">
                    <label for="inputName" class="col-auto col-form-label-lg" style="color: var(--cream); font-family: monospace;">Ballot Name</label>
                    <div class="col-auto">
                        <input type="text" class="form-control" id="inputName" name="name" style="background-color: var(--cream); border: 0; color: var(--brown);" required>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="display_records">
                    <label class="form-check-label" style="color: var(--cream); font-family: monospace;" for="flexCheckDefault">
                        Display ballot records on results
                    </label>
                </div>

            </div>
            <!-- Ballot Entries Title -->
            <div class="entries-title-div">
                <h2 class="entries-title-h2">Ballot Entries</h2>
            </div>
            <!-- Template Ballot Entry -->
            <div class="g-3 mt-3 ballot-entry" style="display: none;">
                <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden">Entry Name</label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Entry Name">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn-delete bi bi-x-circle" onclick="deleteEntry(this)" aria-label="Delete"></button>
                </div>
            </div>

        </form>
    </div>
    <script src="/static/scripts/ballotEntryManager.js"></script>
    {% endblock %}
</body>
</html>